---
layout: loy
title: Mina Loy, "Aphorisms on Futurism"
content_id: aphorisms
---
:markdown
	# Aphorisms on Futurism
	
	DIE in the Past  
	Live in the Future.

	THE velocity of velocities arrives in starting.

	IN pressing the material to derive its essence, matter becomes deformed.

	AND form hurtling against itself is thrown beyond the synopsis of vision.

	THE straight line and the circle are the parents of design, form the basis of art; there is no limit to their coherent variability.

	LOVE the hideous in order to find the sublime core of it.

	OPEN your arms to the dilapidated; rehabilitate them.

	YOU prefer to observe the past on which your eyes are already opened.

	BUT the Future is only dark from outside.
	Leap into it—and it EXPLODES with Light.

	FORGET that you live in houses, that you may live in yourself—

	FOR the smallest people live in the greatest houses.

	BUT the smallest person, potentially, is as great as the Universe.

	WHAT can you know of expansion, who limit yourselves to compromise?

	HITHERTO the great man has achieved greatness by keeping the people small.

	BUT in the Future, by inspiring the people to expand to their fullest capacity, the great man proportionately must be tremendous—a God.

	LOVE of others is the appreciation of oneself.

	MAY your egotism be so gigantic that you comprise mankind in your self-sympathy.

	THE Future is limitless—the past a trail of insidious reactions.

	LIFE is only limited by our prejudices. Destroy them, and you cease to be at the mercy of yourself.

	TIME is the dispersion of intensiveness.

	THE Futurist can live a thousand years in one poem.

	HE can compress every aesthetic principle in one line.

	THE mind is a magician bound by assimilations; let him loose and the smallest idea conceived in freedom will suffice to negate the wisdom of all forefathers.

	LOOKING on the past you arrive at “Yes,” but before you can act upon it you have already arrived at “No.”

	THE Futurist must leap from affirmative to affirmative, ignoring intermittent negations—must spring from stepping-stone to stone of creative exploration; without slipping back into the turbid stream of accepted facts.

	THERE are no excrescences on the absolute, to which man may pin his faith.

	TODAY is the crisis in consciousness.

	CONSCIOUSNESS cannot spontaneously accept or reject new forms, as offered by creative genius; it is the new form, for however great a period of time it may remain a mere irritant—that molds consciousness to the necessary amplitude for holding it.

	CONSCIOUSNESS has no climax.

	LET the Universe flow into your consciousness, there is no limit to its capacity, nothing that it shall not re-create.
	
	UNSCREW your capability of absorption and grasp the elements of Life—Whole.

	MISERY is in the disintegration of Joy;  
	Intellect, of Intuition;  
	Acceptance, of Inspiration.

	CEASE to build up your personality with the ejections of irrelevant minds.

	NOT to be a cipher in your ambiente,  
	But to color your ambient with your preferences.

	NOT to accept experience at its face value.

	BUT to readjust activity to the peculiarity of your own will.

	THESE are the primary tentatives towards independence.

	MAN is a slave only to his own mental lethargy.

	YOU cannot restrict the mind’s capacity.

	THEREFORE you stand not only in abject servitude to your perceptive consciousness—

	BUT also to the mechanical re-actions of the subconsciousness, that rubbish heap of race-tradition—

	AND believing yourself to be free—your least conception is colored by the pigment of retrograde superstitions.

	HERE are the fallow-lands of mental spatiality that Futurism will clear—

	MAKING place for whatever you are brave enough, beautiful enough to draw out of the realized self.

	TO your blushing we shout the obscenities, we scream the blasphemies, that you, being weak, whisper alone in the dark.

	THEY are empty except of your shame.

	AND so these sounds shall dissolve back to their innate senselessness.

	THUS shall evolve the language of the Future.

	THROUGH derision of Humanity as it appears—

	TO arrive at respect for man as he shall be—

	ACCEPT the tremendous truth of Futurism  
	Leaving all those  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;—Knick-knacks.—
	
.about
	%h2= link_to "Mina Loy (1914)", "index.html"