---
layout: loy
content_id: feminist
title: Mina Loy, "Feminist Manifesto"
year: 1914
---
:markdown
	# Feminist Manifesto

	The feminist movement as at present instituted is  
	**Inadequate**

	_Women_ if you want to realize yourselves-you are on the  
	eve of a devastating psychological upheaval-all your pet illu-  
	sions must be unmasked<span class="dashes">—</span>the lies of centuries have got to go<span class="dashes">—</span>  
	are you prepared for the _Wrench_–? There is no half-  
	measure<span class="dashes">—</span>NO scratching on the surface of the rubbish heap  
	of tradition, will bring about _Reform_, the only method is  
	_Absolute_ _Demolition_

	Cease to place your confidence in economic legislation, vice-  
	crusades & uniform education-you are glossing over  
	_Reality_.  
	Professional & commercial careers are opening up for you<span class="dashes">—</span>  
	**Is** **that** **all** **you** **want** <span class="large">?</span>

	And if you honestly desire to find your level without preju-  
	dice<span class="dashes">—</span>be **Brave** & deny at the outset<span class="dashes">—</span>that pa-  
	thetic clap-trap war cry **Woman** **is** **the**  
	**equal** **of** **man**<span class="dashes">—</span>
	 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for  
	She is **NOT**<span class="large">!</span>

	The man who lives a life in which his activities conform to a  
	social code which is protectorate of the feminine element<span class="dashes">—</span>  
	is no longer _masculine_  
	The women who adapt themselves to a theoretical valuation of  
	their sex as a _relative_ _impersonality_, are not yet  
	_Feminine_  
	Leave off looking to men to find out what you are _not_ <span class="dashes">—</span>seek  
	within yourselves to find out what you _are_  
	As conditions are at present constituted<span class="dashes">—</span>you have the choice  
	between **Parasitism**<span class="large">, &</span> **Prostitu-**  
	**tion**<span class="big"><span class="dashes">—</span>or</span> _Negation_

	Men & women are enemies, with the enmity of the exploited  
	for the parasite, the parasite for the exploited<span class="dashes">—</span>at present they  
	are at the mercy of the advantage that each can take of the  
	others sexual dependence<span class="dashes">—</span>. The only point at which the  
	interests of the sexes merge<span class="dashes">—</span>is the sexual embrace.

	The first illusion it is to your interest to demolish is the  
	division of women into two classes&nbsp;&nbsp;&nbsp;&nbsp;_the mistress_<span class="large">,</span>  
	<span class="large">&</span> _the mother_ every well-balanced & developed woman  
	knows that is not true, Nature has endowed the complete  
	functions<span class="dashes">—</span>there are _no_ _restrictions_ on the woman who is  
	so incompletely evolved as to be un-self-conscious in sex, will  
	prove a restrictive influence on the temperamental expansion  
	of the next generation; the woman who is a poor mistress will  
	be an incompetent mother<span class="dashes">—</span>an inferior mentality<span class="dashes">—</span>& will  
	enjoy an inadequate apprehension of **Life**.

	To obtain results you must make sacrifices & the first &  
	greatest sacrifice you have to make is of your ”virtue”  
	The fictitious value of a woman as identified with her physical  
	purity<span class="dashes">—</span>is too easy to stand-by<del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del> rendering her lethargic in  
	the acquisition of intrinsic merits of character by which she  
	could obtain a concrete value<span class="dashes">—</span>therefore, the fist self-  
	enforced law for the female sex, as a protection against the  
	man made bogey of virtue<span class="dashes">—</span>which is the principal instrument  
	of her subjection, would be the <small>unconditional</small> surgical  
	<small>destruction</small> <small>of</small> <small>virginity</small> through-out the female population at  
	puberty<span class="dashes">—</span>.

	The value of man is assessed entirely according to his use or  
	interest to the community, the value of woman depends  
	entirely on <small>chance</small>, her success or insuccess in maneouvering  
	a man into taking the life-long responsibility of her<span class="dashes">—</span>  
	The advantages of marriage are too ridiculously ample<span class="dashes">—</span>  
	compared to all other trades<span class="dashes">—</span>for under modern conditions a  
	woman can accept preposterously luxurious support from a  
	man (with-out the return of an sort<span class="dashes">—</span>even offspring)<span class="dashes">—</span>as a thank  
	offering for her virginity  
	The woman who has not succeeded in striking that  
	advantageous bargain<span class="dashes">—</span>is prohibited from any but   
	surreptitious re-action to Life-stimuli<span class="dashes">—</span><span class="big">&</span> _entirely_  
	_debarred_ **maternity.**  
	Every woman has a right to maternity<span class="dashes">—</span>  
	Every woman of superior intelligence should realize her race-  
	responsibility, in producing children in adequate proportion to  
	the unfit or degenerate members of her sex<span class="dashes">—</span>

	Each child of a superior woman should be the result of a  
	definite period of psychic development in her life<span class="dashes">—</span>& and not  
	necessarily of a possible irksome & outworn continuance of an  
	alliance<span class="dashes">—</span>spontaneously adapted for vital creation in the  
	beginning but not necessarily harmoniously balanced as the  
	parties to it<span class="dashes">—</span>follow their individual lines of personal  
	evolution<span class="dashes">—</span>  
	For the harmony of race, each individual should be the  
	expression of an easy & ample interpenetration of the male &  
	female temperaments<span class="dashes">—</span>free of stress  
	Woman must become more responsible for the child than  
	man<span class="dashes">—</span>  
	Woman must destroy in themselves, the desire to be loved<span class="dashes">—</span>  
	The feeling that it is a personal insult when a man transfers  
	his attention from her to another woman  
	The desire for comfortable protection instead of an intelligent  
	curiosity & courage in meeting & resisting the pressure of life  
	sex or so called love must be reduced to its initial element,  
	honour, grief, sentimentality, pride and & consequently jealousy  
	must be detached from it.  
	Woman for her happiness must retain her deceptive fragility of  
	appearance, combined with indomitable will, irreducible  
	courage, & abundant health the outcome of sound nerves<span class="dashes">—</span>  
	Another great illusion is that woman must use all her  
	introspective and clear-sightedness & unbiassed bravery to  
	destroy<span class="dashes">—</span>for the sake of her <small>self</small> <small>respect</small> is the impurity of sex  
	the realization in defiance of superstition that there is <small>nothing</small>  
	<small>impure</small> <small>in</small> <small>sex</small><span class="dashes">—</span>except in the mental attitude to it<span class="dashes">—</span>will   
	constitute an incalculable & wider social regeneration than it  
	is possible for our generation to imagine.
.about
	%h2= link_to "Mina Loy (1914)", "index.html"