---
layout: loy
content_id: feminist
title: Mina Loy, "Feminist Manifesto"
---
:markdown
	# Feminist Manifesto

	The feminist movement as at present instituted is  
	**Inadequate**

	_Women_ if you want to realize yourselves-you are on the  
	eve of a devastating psychological upheaval-all your pet illu-  
	sions must be unmasked---the lies of centuries have got to go---  
	are you prepared for the _Wrench_–? There is no half-  
	measure---NO scratching on the surface of the rubbish heap  
	of tradition, will bring about _Reform_, the only method is  
	_Absolute_ _Demolition_

	Cease to place your confidence in economic legislation, vice-  
	crusades & uniform education-you are glossing over  
	_Reality_.  
	Professional & commercial careers are opening up for you---  
	**Is** **that** **all** **you** **want** <span class="large">?</span>

	And if you honestly desire to find your level without preju-  
	dice---be **Brave** & deny at the outset---that pa-  
	thetic clap-trap war cry **Woman** **is** **the**  
	**equal** **of** **man**---
	 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for  
	She is **NOT**<span class="large">!</span>

	The man who lives a life in which his activities conform to a  
	social code which is protectorate of the feminine element---  
	is no longer _masculine_  
	The women who adapt themselves to a theoretical valuation of  
	their sex as a _relative_ _impersonality_, are not yet  
	_Feminine_  
	Leave off looking to men to find out what you are _not_ ---seek  
	within yourselves to find out what you _are_  
	As conditions are at present constituted---you have the choice  
	between **Parasitism**<span class="large">, &</span> **Prostitu-**  
	**tion**<span class="big">---or</span> _Negation_

	Men & women are enemies, with the enmity of the exploited  
	for the parasite, the parasite for the exploited---at present they  
	are at the mercy of the advantage that each can take of the  
	others sexual dependence---. The only point at which the  
	interests of the sexes merge---is the sexual embrace.

	The first illusion it is to your interest to demolish is the  
	division of women into two classes&nbsp;&nbsp;&nbsp;&nbsp;_the mistress_<span class="large">,</span>  
	<span class="large">&</span> _the mother_ every well-balanced & developed woman  
	knows that is not true, Nature has endowed the complete  
	functions---there are _no_ _restrictions_ on the woman who is  
	so incompletely evolved as to be un-self-conscious in sex, will  
	prove a restrictive influence on the temperamental expansion  
	of the next generation; the woman who is a poor mistress will  
	be an incompetent mother---an inferior mentality---& will  
	enjoy an inadequate apprehension of **Life**.

	To obtain results you must make sacrifices & the first &  
	greatest sacrifice you have to make is of your ”virtue”  
	The fictitious value of a woman as identified with her physical  
	purity---is too easy to stand-by<del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</del> rendering her lethargic in  
	the acquisition of intrinsic merits of character by which she  
	could obtain a concrete value---therefore, the fist self-  
	enforced law for the female sex, as a protection against the  
	man made bogey of virtue---which is the principal instrument  
	of her subjection, would be the <small>unconditional</small> surgical  
	<small>destruction</small> <small>of</small> <small>virginity</small> through-out the female population at  
	puberty---.

	The value of man is assessed entirely according to his use or  
	interest to the community, the value of woman depends  
	entirely on <small>chance</small>, her success or insuccess in maneouvering  
	a man into taking the life-long responsibility of her---  
	The advantages of marriage are too ridiculously ample---  
	compared to all other trades---for under modern conditions a  
	woman can accept preposterously luxurious support from a  
	man (with-out the return of an sort---even offspring)---as a thank  
	offering for her virginity  
	The woman who has not succeeded in striking that  
	advantageous bargain---is prohibited from any but   
	surreptitious re-action to Life-stimuli---<span class="big">&</span> _entirely_  
	_debarred_ **maternity.**  
	Every woman has a right to maternity---  
	Every woman of superior intelligence should realize her race-  
	responsibility, in producing children in adequate proportion to  
	the unfit or degenerate members of her sex---

	Each child of a superior woman should be the result of a  
	definite period of psychic development in her life---& and not  
	necessarily of a possible irksome & outworn continuance of an  
	alliance---spontaneously adapted for vital creation in the  
	beginning but not necessarily harmoniously balanced as the  
	parties to it---follow their individual lines of personal  
	evolution---  
	For the harmony of race, each individual should be the  
	expression of an easy & ample interpenetration of the male &  
	female temperaments---free of stress  
	Woman must become more responsible for the child than  
	man---  
	Woman must destroy in themselves, the desire to be loved---  
	The feeling that it is a personal insult when a man transfers  
	his attention from her to another woman  
	The desire for comfortable protection instead of an intelligent  
	curiosity & courage in meeting & resisting the pressure of life  
	sex or so called love must be reduced to its initial element,  
	honour, grief, sentimentality, pride and & consequently jealousy  
	must be detached from it.  
	Woman for her happiness must retain her deceptive fragility of  
	appearance, combined with indomitable will, irreducible  
	courage, & abundant health the outcome of sound nerves---  
	Another great illusion is that woman must use all her  
	introspective and clear-sightedness & unbiassed bravery to  
	destroy---for the sake of her <small>self</small> <small>respect</small> is the impurity of sex  
	the realization in defiance of superstition that there is <small>nothing</small>  
	<small>impure</small> <small>in</small> <small>sex</small>---except in the mental attitude to it---will   
	constitute an incalculable & wider social regeneration than it  
	is possible for our generation to imagine.
.about
	%h2= link_to "Mina Loy (1914)", "index.html"