---
layout: loy
title: Mina Loy, Songs to Joannes
content_id: songs
---
/ —([^\s<]) -> <span class="dashes">—</span>$1
/ —  \n -> <span class="dashes">—</span>  \n
/ http://library.brown.edu/pdfs/130919595891750.pdf

:markdown
	# Songs to Joannes
	
	## I
	
	Spawn&nbsp;&nbsp;&nbsp;of&nbsp;&nbsp;&nbsp;&nbsp;Fantasies  
	Silting the appraisable  
	Pig Cupid&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;his rosy snout  
	Rooting erotic garbage  
	&ldquo;Once upon a time&rdquo;  
	Pulls a weed&nbsp;&nbsp;&nbsp;white and star-topped  
	Among wild oats&nbsp;&nbsp;&nbsp;&nbsp;sewn in mucous-membrane
	
	I would&nbsp;&nbsp;&nbsp;&nbsp;an&nbsp;&nbsp;&nbsp;&nbsp;eye in a bengal light  
	Eternity in a sky-rocket  
	Constellations in an ocean  
	Whose rivers run no fresher  
	Than a trickle of saliva
	
	These&nbsp;&nbsp;are suspect places 
	
	I must live in my lantern  
	Trimming subliminal flicker  
	Virginal&nbsp;&nbsp;&nbsp;&nbsp;to the bellows  
	Of Experience  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coloured&nbsp;&nbsp;&nbsp;&nbsp;glass
	
	## II
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The skin-sack  
	In which a wanton duality  
	Packed  
	All the completions of my infructuous impulses  
	Something the shape of a man
	
	To the casual vulgarity of the merely observant  
	More of a clock-work mechanism  
	Running down against time  
	To which I am not paced  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My finger-tips are numb from fretting your hair  
	A God's door-mat  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;On the threshold of your mind
	
	## III
	
	We might have coupled  
	In the bed-ridden monopoly of a moment  
	Or broken flesh with one another  
	A t the profane communion table  
	Where wine is spill't on promiscuous lips  
	We might have given birth to a butterfly  
	With the daily-news  
	Printed in blood on its wings
	
	## IV
	
	Once in a mezzanino  
	The starry ceiling  
	Vaulted an unimaginable family  
	Bird-like abortions  
	Wit h human throats  
	A n d Wisdom's eyes  
	Who wore lamp-shade red dresses  
	And woolen hair
	
	One bore a baby  
	In a padded porte-enfant  
	Tied with a sarsanet ribbon  
	To her goose's wings  
	But for the abominable shadows  
	I would have lived  
	Among their fearful furniture  
	T o teach them to tell me their secrets  
	Before I guessed  
	<span class="dashes">—</span>Sweeping the brood clean out
	
	## V
	
	Midnight empties the street  
	Of all but us  
	Three  
	I am undecided which way back  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To the left a boy  
	<span class="dashes">—</span>One wing has been washed in the rain  
	The other will never be clean any more<span class="dashes">—</span>  
	Pulling door-bells to remind  
	Those that are snug  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To the right a haloed ascetic  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Threading houses  
	Probes wounds for souls  
	<span class="dashes">—</span>The poor can't wash in hot water<span class="dashes">—</span>  
	And I dont know which turning to take  
	Since you got home to yourself<span class="dashes">—</span>first
	
	## VI
	
	I know the Wire-Puller intimately  
	And if it were not for the people  
	On whom you keep one eye  
	You could look straight at me  
	And Time would be set back
	
	## VII
	
	My pair of feet  
	Smack the flag-stones  
	That are something left over from your walking  
	The wind stuffs the scum of the white street  
	Into my lungs and my nostrils  
	Exhilarated birds  
	Prolonging flight into the night  
	Never reaching <span class="dashes">— — — — — — —</span>
	
	## VIII
	
	I am the jealous store-house of the candle-ends  
	That lit your adolescent learning  
	<span class="dashes">— — — — — — — — — —</span>  
	Behind God's eyes  
	There might  
	Be other lights
	
	## IX
	
	When we lifted  
	Our eye-lids on Love  
	A cosmos  
	Of coloured voices
	
	And laughing honey  
	And spermatazoa  
	At the core of Nothing  
	In the milk of the Moon
	
	## X
	
	Shuttle-cock and battle-door  
	A little pink-love  
	And feathers are strewn
	
	## XI
	
	Dear one&nbsp;&nbsp;&nbsp;&nbsp;at your mercy  
	Our Universe  
	Is only  
	A colorless onion  
	You derobe  
	Sheath by sheath  
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Remaining  
	A disheartening odour  
	About your nervy hands
	
	## XII
	
	Voices break on the confines of passion  
	Desire&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suspicion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Man&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Woman  
	Solve in the humid carnage
	
	Flesh&nbsp;&nbsp;from&nbsp;&nbsp;flesh  
	Draws the inseparable delight  
	Kissing at gasps&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to catch it
	
	Is it true  
	That I have set you apart  
	Inviolate in an utter crystallization  
	Of all&nbsp;&nbsp;&nbsp;&nbsp;the jolting of the crowd  
	Taught me willingly to live to share
	
	Or are you  
	Only the other half  
	Of an ego's necessity  
	Scourging pride with compassion  
	To the shallow sound of dissonance  
	And boom of escaping breath
	
.about
	%h2= link_to "Mina Loy (1917)", "index.html"